.hidden{
    display: none;
}
.text-align-left{
    text-align: start;
}
.ml-5{
    margin-left: 1in;
}
.j-c-l{
    justify-content: left;
}
.flex-start{
    align-content: flex-start;
}
.shadow{
   box-shadow: 10px 10px rgb(112, 180, 199); 
}
button{
    box-shadow: 3px 3px 10px black;
    transition: all 1s;
    margin: 12px 5px;
   
}
button:hover{
    transform: scale(1.1);
}
.btn-container{
    align-content:space-between;
}
.nameinput{
    align-content:space-around;
    margin: auto;
}
.body1{
    margin: 10px auto 10px;
}